{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
</head>
<body>

  <div class="jumbotron">
    <div class="container">

      <div class="alert alert-danger" role="alert">
        <center>
          <a href="https://www.google.com/search?q=imvickykumar999&rlz=1C1CHBF_enIN920IN920&oq=imvickykumar999&aqs=chrome..69i57j69i60j69i61j69i60j69i65l3j69i60.1704j0j4&sourceid=chrome&ie=UTF-8">
            <h1>Hey! Google me : imvickykumar999</h1>
          </a>
        </center>
      </div>
    </div>
  </div>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">

        <center>
          <div class="card">

            <a href="https://www.linkedin.com/in/vicky-kumar-433542190/">
              <img src="../static/my dp/profile.jpg" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h3><p class="card-text">Hey! It's me Vicky Kumar</p></h3>
            </div>

          </div>
        </center>

      </div>
    </div>


    <div class="jumbotron">
      <div class="container">

        <div class="alert alert-warning" role="alert">
          <center>
            <a href="https://github.com/imvickykumar999">
              <h2>Below are some Recommendations by my Friends.</h2>
            </a>
          </center>
        </div>

      </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">

          <div class="alert alert-primary" role="alert">
            <a href="https://www.linkedin.com/in/sagar-jangid-974ba7195/">
              <h3>An excellent partner, developer and friend. We've worked together for live project Portfolio website 2018, participating in several positions in the Software Development field and side projects.
                <br><br>
                  He is creative, curious, innovative, responsible and quite a rational thinker. Coding as a way of life, his work presents products with great quality, following standards and good practices.
                <br><br>
                  Also passionate, confident, cheerful and respectful. His leadership quality moves people forward toward achieving the team's goals.</h3>
                <br>
              <h6>-Sagar Jangid.</h6>
            </a>
          </div>

          <div class="alert alert-warning" role="alert">
            <a href="https://github.com/ankit1975">
              <h3>Vicky is a really good working partner with high knowledge on backend development.
                <br><br>
                He is always concerned with going forward never afraid of improving or making use of new technologies, helping his peers whenever he is able to and solving problems in a quick and efficient manner with his typical optimism.
                <br><br>
              <h6>-Ankit Malpani.</h6>
            </a>
          </div>

        </div>
      </div>

</body>
</html>

{% endblock %}
